TechnologyForGames/GD2P03_ex1/.vs
3dGraphicsProgramming/FirstOpenGl/OpenGL_Week_1/OpenGL Week 1/x64
3dGraphicsProgramming/FirstOpenGl/OpenGL_Week_1/.vs
3dGraphicsProgramming/FirstOpenGl/OpenGL_Week_1/x64
.vs
x64
